<div id="accountModal" class="account__modal__container" style="display: none">
    <div class="background">
        <h1><%= username %></h1>
        <div class="avatar__container">
            <div class="avatar"><img src="../../public/assets/img/avatar/Avatar_<%= avatar %>.png" alt="Avatar"></div>
            <div class="progress__bar__container">
                <div class="level">
                    <span>Lv. 0</span>
                </div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="btn">
            <a href="/profile">Profile</a>
            <a href="/play">Play</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>