<footer>
    <div class="footer__wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#192e3d" fill-opacity="1" d="M0,224L0,96L48,96L48,224L96,224L96,128L144,128L144,288L192,288L192,64L240,64L240,224L288,224L288,64L336,64L336,160L384,160L384,64L432,64L432,160L480,160L480,224L528,224L528,64L576,64L576,224L624,224L624,224L672,224L672,96L720,96L720,0L768,0L768,224L816,224L816,64L864,64L864,288L912,288L912,96L960,96L960,224L1008,224L1008,128L1056,128L1056,64L1104,64L1104,64L1152,64L1152,96L1200,96L1200,288L1248,288L1248,192L1296,192L1296,160L1344,160L1344,0L1392,0L1392,224L1440,224L1440,320L1392,320L1392,320L1344,320L1344,320L1296,320L1296,320L1248,320L1248,320L1200,320L1200,320L1152,320L1152,320L1104,320L1104,320L1056,320L1056,320L1008,320L1008,320L960,320L960,320L912,320L912,320L864,320L864,320L816,320L816,320L768,320L768,320L720,320L720,320L672,320L672,320L624,320L624,320L576,320L576,320L528,320L528,320L480,320L480,320L432,320L432,320L384,320L384,320L336,320L336,320L288,320L288,320L240,320L240,320L192,320L192,320L144,320L144,320L96,320L96,320L48,320L48,320L0,320L0,320Z"></path></svg>
    </div>
    <div class="footer__element__container">
        <h1>About this project</h1>
        <div class="footer__text">
            <p>
                In Welfare Business, you are the CEO of a software company. You have to manage both your company and the welfare of your employees. Give them good working conditions if you want to stay profitable and productive ! This game is a simulation of a real life company, to show the players the importance of keeping your employees happy.
            </p>
        </div>
        <div class="footer__contributors">
            <a href="/"><img class="hvr-bounce-in" src="../../public/assets/img/logo.png" alt="Logo"></a>
            <div class="footer__contributors__name__container">
                <h2>Contributors</h2>
                <a target="_blank" href="https://github.com/AurelienRoge">Aurélien Rogé</a>
                <a target="_blank" href="https://github.com/zZeTraL">Lucas Haboussi</a>
                <a target="_blank" href="https://github.com/AntoineMIGNIEN">Antoine Mignien</a>
                <a target="_blank" href="https://github.com/Leroy-Guillaume">Guillaume Leroy</a>
                <a target="_blank" href="https://github.com/404">Théo Vangheluwe</a>
            </div>
            <div class="footer__contributors__sources">
                <h2>Libraries</h2>
                <a target="_blank" href="https://dixonandmoe.com/rellax/">Rellax</a>
                <a target="_blank" href="https://ianlunn.github.io/Hover/">Hover.css</a>
                <a target="_blank" href="https://michalsnik.github.io/aos/">AOS</a>
                <a target="_blank" href="https://boxicons.com/">Boxicons</a>
            </div>
        </div>
        <div class="footer__copyright">
            <p><i class="bx bx-copyright"></i> WelfareBusiness - 2021/2022</p>
        </div>
    </div>
</footer>