<header class="header_background">
    <nav class="navbar">
        <div class="navbar__logo">
            <img src="../../public/assets/img/logo.png" alt="Logo">
        </div>
        <div class="navbar__links">
            <a class="hvr-grow" href="">Accueil</a>
            <a class="hvr-grow" href="">Play</a>
            <a class="hvr-grow" href="">Stats</a>
        </div>
        <div class="navbar__connect">
            <a class="hvr-grow" href="">
                <img src="../../public/assets/img/header/bouton_connect_1.1.png" alt="Connexion">
            </a>
        </div>
    </nav>
    <div class="header__text">
        <h1>Welfare Business</h1>
        <span>A beautiful game made with love by our team <3</span>
        <a class="hvr-grow" href=""><img src="../../public/assets/img/header/play.png" alt=""></a>
    </div>
</header>