<header>
    <nav class="nav__container">
        <div class="logo__container">
            <img src="../../public/assets/img/logo.png" alt="Logo">
        </div>
        <div class="links__container">
            <a class="hvr-grow" href="/">Home</a>
            <a class="hvr-grow" href="/play">Play</a>
            <a class="hvr-grow" href="/leaderboard">Leaderboard</a>
        </div>
        <div class="connection__container">
            <% if(!session) { %>
                <img id="connect" class="hvr-grow" src="../../public/assets/img/header/connectBtn.png" alt="Sign in">
            <% } else { %>
                <a id="myAccountBtn" href="/profile">My account<i class='bx bxs-down-arrow'></i></a>
                <%- include("./accountModal") %>
            <% } %>
        </div>
    </nav>
</header>