<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./public/css/main.css">
    <link rel="stylesheet" type="text/css" href="./public/css/home.css">
    <link rel="stylesheet" type="text/css" href="./public/css/header.css">
    <link rel="stylesheet" type="text/css" href="./public/css/footer.css">

    <!-- LIB CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="./public/css/libs/hover/hover.css">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>

    <title>Welfare Business</title>
</head>
<body>
    <%- include("../views/partials/header") %>
    <main style="height: 1000px">
        <h1>Hi you</h1>
    </main>
    <%- include("../views/partials/footer") %>

    <script src="./public/js/header/main.js"></script>

</body>
</html>